.ContactsList {
  width: 60%;
  font-family: Segoe UI;
  font-size: 16px;
  font-weight: 500;
}
ul {
  padding-left: 15px;
}

li {
  display: flex;
  align-items: center;
}

li::before {
  content: "✺";
}

p {
  margin: 10px;
}

.ContactsListFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  /* padding: 10px 50px 10px 10px; */
}
